html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 13px;
    font-family: 'Arial', sans-serif;
    color: rgb(95, 99, 104);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.header-left {
    display: flex;
}

[alt="google-logo"]{
    width: 90px;
    margin: 5px 50px auto 25px;
}

.searchbar {
    width: 680px;
    height: 45px;
    border-radius: 25px;
    border: 1px solid #dfe1e5;
    padding: 10px 20px;    
    display: flex;
    align-items: center;
}

.searchbar:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

input {
    border-style: none;
    font-size: 16px;
    width: 100%;
}

input:focus {
    outline: none;
}

.searchbar a img{
   float: right;
   width: 60px;

}

.header-right {
    display: flex;
    align-items: center;
}
