html {
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: rgb(95, 99, 104);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-left a{
    padding-right: 10px;
}

.nav-right{
    padding-right: 10px;
    width:150px;
    display: flex;
    justify-content: space-between;
}


a:link {
    text-decoration: none;
    color:rgb(95, 99, 104);}

a:visited {
    color: rgb(95, 99, 104);
}

a:hover {
    text-decoration: underline;
}

.google-logo {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}


.search-section {
    display: flex;
    justify-content: center;
    height: 200px;
}

.search-subsection{
    flex:centre;
}

.search-box{
    width: 400px;
    height: 34px;
    border-radius: 25px;
    border: 1px solid #dfe1e5;
    margin-top: 25px;
    display: flex;
}

.search-box:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.form-search {
    width: 90%;
}

input{
    border-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    width:100%;
}

input:focus{
    outline: none;
}

.search-pic {
    width: 16px;
    height: 16px;
    margin-top: 10px;
    margin-left: 5px;
}

.submit-subsection {
    display: flex;
    justify-content: center;
}


.submit-subsection input{
    font-size: 11px;
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
}

.submit-subsection input:hover{
    border: 1px solid rgb(212, 212, 212);
}

[value="Google Search"] {
    margin: 11px 4px;
    width: 100px;
    height: 30px;
}

[value="I'm feeling lucky"] {
    margin:11px 4px;
    width: 110px;
    height: 30px;
}

footer {
    position: fixed;
    background-color: rgb(236, 236, 236);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-top {
    line-height: 30px;
    padding-left: 20px;
    align-items: center;
    border-bottom: 1px solid grey;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-left{
    width:220px;
    display: flex;
    justify-content: space-between;
}

.footer-right{
    width: 150px;
    display: flex;
    justify-content: space-between;
}