html {
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 2em;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
}

.nav-left a{
    padding-right: 1em;
}

.nav-right a{
    padding-right: 1em;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;

}

a:hover {
    text-decoration: underline;
}

.google-logo {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}


.search-section {
    display: flex;
    justify-content: center;
    height: 200px;
}
.search-subsection{
    flex:centre;
}

.search-box{
    width: 400px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #dfe1e5;
    margin-top: 25px;
    display: flex;
}

.search-box:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.form-search {
    width: 90%;
}

input{
    border-style: none;
    margin-top: 12px;
    font-size: 16px;
    width:100%;
}

input:focus{
    outline: none;
}

.search-pic {
    width: 16px;
    height: 16px;
    margin-top: 10px;
    margin-left: 5px;
}

.submit-subsection {
    display: flex;
    justify-content: space-around;
}


.submit-subsection input{
    width: 90px;
    font-size: 12px;
}